* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

header {
  border-bottom: 2px solid #ccc;
  padding-block: 1rem;
  position: fixed;
  width: 100%;
  z-index: 1;
  background-color: #fff;
}

.genLayout {
  max-width: 1200px;
  margin: auto;
}

nav {
  padding-block: 1rem;
}

.innerNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.innerNav > img {
  width: 65px;
}

.navLinks {
  display: flex;
  gap: 2rem;
}

.navLinks > a {
  text-decoration: none;
  color: #000;
  text-transform: capitalize;
  font-size: 13px;
}

.navLinks > a:first-child {
  font-weight: 800;
}

.navIcons {
  display: flex;
  align-items: center;
  gap: 15px;
}

.navIcons > span {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.searchContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 800px;
  margin: auto;
  border: 1.6px solid #ccc;
  padding: 0.5rem;
  border-radius: 2.5rem;
}

.searchInfo {
  display: flex;
  align-items: center;
}

.destination > h6 {
  text-transform: capitalize;
}

.destination > input {
  width: 70%;
}

.destination > input,
.infoCard > input {
  width: 100%;
  border: none;
  outline: none;
}

.destination > input::placeholder,
.infoCard > input::placeholder {
  font-size: 12px;
}

.infoCard {
  border-left: 1.7px solid #ccc;
  padding-inline: 1rem;
  width: 140px;
}

.searchLogo {
  background-color: #ff385c;
  width: 48px;
  height: 48px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav_icons {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 2rem;
  font-size: 12px;
  margin-block: 2rem;
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.icon :hover {
  border-bottom: 2px solid black;
}

.liveWrapper {
  display: flex;
  gap: 16px;
}

.secOne {
  padding-top: 12rem;
}
/* styling Pastexperience */

.pastExpWrapper {
  margin-block: 2rem;
}

.pastExpWrapper > h1 {
  font-size: 1.5rem;
  margin-block: 1rem;
}

.pastExpGrid {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(4, 1fr);
}

.pastExpCard {
  border-radius: 8px;
  height: 45vh;
}

.pastExpCard > button {
  padding: 4px 8px 4px 8px;
  border: none;
  border-radius: 10px;
  margin-top: 10px;
}

.imgCont {
  /* border-radius: 8px; */
  height: 35vh;
  position: relative;
}

.imgCont > img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.imgCont > span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  position: absolute;
  background-color: #fff;
  top: 0.6rem;
  right: 0.4rem;
}

/* footer styling */
footer {
  background-color: #f7f7f7;
  /* height: 40vh; */
  padding-block: 2rem;
}

.topMenuTab {
  border-bottom: 2px solid #ccc;
  display: flex;
  gap: 1.5rem;
}

.topMenuTab > a {
  color: #000;
  text-decoration: none;
  font-size: 13px;
  line-height: 2.6rem;
}

.topMenuTab > a:hover {
  border-bottom: 2px solid #000;
}

.tabMenuInfo {
  margin: 1rem 0 2rem;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1.7rem;
}

.infoMenuCard > h5 {
  text-transform: capitalize;
}

.infoMenuCard > p {
  font-size: 12px;
  color: #000;
  opacity: 0.6;
}

.dropdown {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  cursor: pointer;
}

.footerTabLinks {
  display: flex;
  padding-block: 3rem;
  gap: 10rem;
  border-bottom: 2px solid #ccc;
}

.tabLink > ul {
  list-style-type: none;
  margin-top: 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 14px;
}

.tabLink > ul > li > a {
  text-decoration: none;
  color: #000;
}

.tabLink > h3 {
  font-size: 16px;
  text-transform: capitalize;
}

.socialsCont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
}

.socialsIcon {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.socialsIcon :nth-child(2) {
  font-weight: bold;
}
.socialsIcon :nth-child(3) {
  font-weight: bold;
}

@media (min-width: 260px) and (max-width: 480px) {
  .innerNav {
    width: calc(100% - 40px);
  }

  .navLinks,
  .navIcons > h5 {
    display: none;
  }

  .searchContainer {
    width: calc(100% - 20px);
  }

  .destination {
    display: none;
  }

  .searchInfo :nth-child(3) {
    display: none;
  }

  .nav_icons {
    width: calc(100% - 40px);
    overflow-x: scroll;
  }

  .liveWrapper {
    width: calc(100% - 40px);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .pastExpWrapper {
    width: calc(100% - 40px);
  }

  .pastExpGrid {
    grid-template-columns: repeat(2, 1fr);
  }

  .topFooter {
    width: calc(100% - 40px);
  }

  .topFooter > h4 {
    font-size: 1.5rem;
  }

  .topMenuTab {
    flex-wrap: wrap;
    gap: 2;
  }

  .topMenuTab > a {
    font-size: 1.2rem;
  }

  .tabMenuInfo {
    grid-template-columns: repeat(3, 1fr);
  }

  .footerTabLinks {
    width: calc(100% - 40px);
    flex-wrap: wrap;
    gap: 2rem;
  }

  .infoMenuCard > h5 {
    font-size: 1.1rem;
  }
  .infoMenuCard > p {
    font-size: 1rem;
  }

  .footerTabLinks > h3 {
    font-size: 1.4rem;
  }
  ul > li > a {
    font-size: 1rem;
  }

  .socialsCont {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
}
